bg = #fafafa
color = #444

body
  font-family: 'Myriad Pro', Helvetica, sans-serif
  font-size: 95%
  background: bg
  color: color

pre
  margin: 0

.Editor
  width: 500px
  margin: 0 auto

.Editable
  &:focus
    outline: none

.Block
  position: relative
  padding: 5px 10px
  margin: 0.5em 0
  border-bottom: 1px solid bg
  &.Focused
    border-bottom: 1px solid #ddd

.Paragraph
  line-height: 1.35em

.Image
  img
    width: 100%
  img:focus
    outline: none

.Code
  background: #ffffff
  padding: 20px
  .Editable
    font-size: 90%
    font-family: Menlo, Monaco, monospace
  &:before
    content: '```'
    top: 5px
    left: -40px
    width: 30px;
    font-size: 100%
    font-weight: bold
    color: #ccc
    text-align: right
    position: absolute
  
.Line
  text-align: center
  font-weight: bold
  font-size: 130%
  letter-spacing: 0.2em
  color: #ccc

.ListItem
  line-height: 1.35em
  margin: 0.25em 0
  &:before
    content: '-'
    left: -30px
    width: 20px;
    font-size: 150%
    font-weight: bold
    color: #ccc
    text-align: right
    position: absolute

.Heading
  line-height: 1.25em
  font-weight: bold
  &:before
    color: #ccc
    text-align: right
    position: absolute
    width: 80px
    left: -90px

.Heading1
  font-size: 250%
  &:before
    content: '#'

.Heading2
  font-size: 150%
  &:before
    content: '##'

.Heading3
  font-size: 130%
  &:before
    content: '###'

.Heading4
  font-size: 120%
  &:before
    content: '####'

.Heading5
  font-size: 110%
  &:before
    content: '#####'

.Heading6
  font-size: 100%
  &:before
    content: '######'
