@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700")

bg = #fafafa
color = #444

body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 100%
  background: bg
  color: color

pre
  margin: 0

.Tools
  position: fixed
  right: 40px
  bottom: 40px
  font-size: 90%
  width: 200px
  .button
    text-decoration: none
    margin-bottom: 2px
    display: block
    padding: 4px 8px
    cursor: pointer
    color: #aaa
    border-left: 3px solid #f6f6f6
    &:hover
      border-left: 3px solid #aaa
      color: #444

  .note
    margin-top: 10px
    color: #aaa
    font-size: 80%
    margin-left: 10px

.Markstruct
  width: 600px
  margin: 0 auto

.Editor
  min-height: 1em
  &:focus
    outline: none

.Annotation
  &.em
    font-weight: bold

.BlockWrapper
  position: relative
  .BlockPanel
    width: 100%
    position: absolute
    bottom: -10px
    display: none
    .button
      display: none
  &.Focused
    .BlockPanel
      display: block
  &:hover
    .BlockPanel
      display: block
      .button
        display: inline-block

.BlockPanel
  border-top: 1px solid #ddd
  text-align: right
  height: 10px
  .Button
    margin-right: 1em
    cursor: pointer
    display: inline-block
    color: #888
    font-size: 10px
    text-transform: uppercase

.Block
  min-height: 1em
  position: relative
  padding: 5px 10px
  margin: 0.5em 0
  margin-bottom: 14px

.Paragraph
  line-height: 1.35em

.Image
  img
    width: 100%
  img:focus
    outline: none

.Code
  background: #ffffff
  padding: 20px
  .Editor
    font-size: 80%
    font-family: Menlo, Monaco, monospace
  &:before
    content: '```'
    top: 5px
    left: -40px
    width: 30px;
    font-size: 100%
    font-weight: bold
    color: #ccc
    text-align: right
    position: absolute
  
.Line
  text-align: center
  font-weight: bold
  font-size: 130%
  letter-spacing: 0.2em
  color: #ccc
  div
    outline: none

.ListItem
  line-height: 1.35em
  margin: 0.25em 0
  margin-left: 2em
  &:before
    content: '-'
    left: -30px
    width: 20px;
    font-size: 150%
    font-weight: bold
    color: #ccc
    text-align: right
    position: absolute

.Heading
  line-height: 1.25em
  font-weight: bold
  &:before
    color: #ccc
    text-align: right
    position: absolute
    width: 80px
    left: -90px

.Heading1
  font-size: 250%
  &:before
    content: '#'

.Heading2
  font-size: 150%
  &:before
    content: '##'

.Heading3
  font-size: 130%
  &:before
    content: '###'

.Heading4
  font-size: 120%
  &:before
    content: '####'

.Heading5
  font-size: 110%
  &:before
    content: '#####'

.Heading6
  font-size: 100%
  &:before
    content: '######'
